.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redoUndo{
  background-repeat:no-repeat;
  border-radius: .25rem;
  border: 2px solid #007bff;
  background-position: 50% 50%;
  transition: background-color .4s ease;
  background-color: rgba(0,0,255,.10);
}

.redoUndo:hover{
  background-color: rgba(0,0,255,.5);
}

.redoUndo:active{
  background-color: rgba(0,0,255,.25);
}